<ion-content [fullscreen]="true">
  <div class="content">
    <div class="main-container">
      <img src="../../../assets/logo/logo_lingopals.png" alt="LingoPals Logo">
      <div class="text">
        <ion-title>Welcome to LingoPals</ion-title>
        <ion-text>The ultimate app to study the language you've been wanting to learn</ion-text>
      </div>
    </div>

    <div class="buttons-container">
      <ion-text routerLink="/tutorial">Show me what this app is about</ion-text>
      <ion-text routerLink="/login">Start now!</ion-text>
    </div>
  </div>
</ion-content>