.header {
    background-color: var(--ion-color-tertiary-contrast);
    border-radius: 1rem;
    padding: 1rem;
    // width: 100%;

    h2 {
        font-weight: bold;
    }

    ion-progress-bar {
        --background: var(--ion-color-secondary-shade);
        --progress-background: var(--ion-color-secondary-tint);
        border-radius: 1rem;
        width: 100%;
        height: 1rem;
    }
}