<ion-header>
  <ion-toolbar>
    <ion-title>{{'shared.modalUserLanguagesCreate.pageTitle' |
      translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" onkeypress="closeModal()" [strong]="true">{{'common.buttonCancelText' |
        translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="result">
    <ion-button (click)="clearSelection()"
      onkeypress="clearSelection()">{{'shared.modalUserLanguagesCreate.clearSelectionButtonText' |
      translate}}</ion-button>
    <div class="languages-selected-display">

      <div class="language-selected" id="languageOrigin">
        <img [src]="'data:image/png;base64,' + languageOrigin.flag.imageBase64" alt="Origin language" class="flag"
          *ngIf="languageOrigin">
      </div>
      <ion-icon name="arrow-forward" class="arrow"></ion-icon>
      <div class="language-selected" id="languageTarget">
        <img [src]="'data:image/png;base64,' + languageTarget.flag.imageBase64" alt="Target language" class="flag"
          *ngIf="languageTarget">
      </div>
    </div>
    <ion-checkbox [checked]="setPreferred" (ionChange)="changeSetPreferred()"
      labelPlacement="end">{{'shared.modalUserLanguagesCreate.setPreferredCheckboxLabel' |
      translate}}</ion-checkbox>
  </div>
</ion-header>

<ion-content>
  <div class="selection">
    @if (languageOrigin && languageTarget) {
    <div class="language-level-selection">
      <ion-text>{{'shared.modalUserLanguagesCreate.startLearningLevelQuestion' |
        translate}}</ion-text>
      <ion-radio-group [value]="languageLevelSelectedIndex" (ionChange)="selectLanguageLevel($event)"
        class="language-level-radio-group">
        @for (languageLevel of languageLevelsToSelect; track $index) {
        <ion-radio [value]="$index" class="language-level-radio">{{languageLevel.levelName}}</ion-radio>
        }
      </ion-radio-group>
      <ion-button (click)="createUserLanguages()"
        onkeypress="createUserLanguages()">{{'shared.modalUserLanguagesCreate.confirmButtonText' |
        translate}}</ion-button>
    </div>
    } @else {
    @for (language of languagesToSelect; track $index) {
    <button (click)="selectLanguage($index)" onkeypress="selectLanguage($index)">
      <app-language-display [language]="language" [nameDisplay]="true"
        [selected]="languageOrigin?.idLanguage == language.idLanguage || languageTarget?.idLanguage == language.idLanguage"></app-language-display>
    </button>
    }
    }
  </div>

</ion-content>