<ion-modal trigger="open-single-language-selector">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Select your language</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()" [strong]="true">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="languages-container">

        <div class="languages-badge" *ngFor="let language of languagesToSelect; index as i">
          <button ion-button expand="block" class="button" (click)="select(i)">
            <img src={{filePrefix}}{{language.flag}} alt="Origin language" class="flag">
          </button>
        </div>

      </div>
    </ion-content>
  </ng-template>
</ion-modal>