ion-modal {
    border: 2px solid black;
    position: absolute;
    height: 50%;
    width: 50%;
    margin: auto;

    ion-content {
        border: 1px solid black;
        display: flex;
        flex-direction: column;

        .languages-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .languages-badge {
                margin: 1rem;

                .button {
                    border: 2px solid black;
                    border-radius: 1rem;
                    background-color: var(--ion-color-moonstone);
                    margin: 5px;

                    .flag {
                        width: 3rem;
                        height: auto;
                        margin: 0 10px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}