.main-container {
    height: 100%;
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;

    .languages-container {
        display: flex;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .languages-badge {
            margin: 0.5rem;
            padding: 0.5rem;

            .button {

                border: 2px solid black;
                border-radius: 1rem;
                width: 30vh;

                .flag {
                    width: 10vh;
                    height: auto;
                    margin: 0 10px;
                    padding: 5px;
                }

                .language-name {
                    font-weight: bold;
                    font-size: 2rem;
                }
            }
        }
    }
}

.selected {
    background-color: var(--ion-color-tertiary-tint);
    color: white;
}

.not-selected {
    background-color: var(--ion-color-tertiary-light);
}