ion-content {
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .languages-badge {
        margin: 0.5rem;
        padding: 0.5rem;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;

            .arrow {
                font-size: 1.5rem;
                color: black;
            }

            border: 2px solid black;
            border-radius: 1rem;

            .flag {
                width: 10vh;
                height: auto;
                margin: 0 10px;
                padding: 5px;
            }
        }
    }
}

.selected {
    background-color: var(--ion-color-tertiary-light);

    ion-icon {
        color: white;
    }
}

.not-selected {
    background-color: var(--ion-color-tertiary-light-shade);
}