ion-card {
    border: 0.1rem solid lightgrey;
    border-radius: 1.5rem;
    // width: 80%;
    // height: 80%;

    ion-card-title {
        padding: 1rem;

        span {
            font-weight: bold;
            font-size: 2rem;
        }
    }
}

.default-button {
    --background: var(--ion-color-secondary);
}

.correct-answer {
    --background: var(--ion-color-success);
}

.correct-answer-not-selected {
    --background: var(--ion-color-success-shade);
}

.wrong-answer {
    --background: var(--ion-color-danger);
}

.wrong-answer-not-selected {
    --background: var(--ion-color-danger-shade);
}