<ion-card>
  <ion-card-header>
    <ion-card-title>
      <span>{{correctOption?.optionWordOrigin}}</span>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="options-div">
      <div *ngFor="let option of currentOptions; index as i">
        <ion-button (click)="checkOption(i)" onKeyDown="checkOption(option)" [ngClass]="{
          'default-button': !isAnswerSubmitted,
          'correct-answer': option.correct && option.pressed,
          'correct-answer-not-selected': option.correct && !option.pressed,
          'wrong-answer': !option.correct && option.pressed,
          'wrong-answer-not-selected': !option.correct && !option.pressed,
        }">
          {{option.optionWordTarget}}
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>