ion-tab-bar {
    background-color: var(--ion-color-tabs-nav);
}

ion-tab-button {
    background-color: var(--ion-color-tabs-nav);
    color: var(--ion-color-tabs-nav-contrast);
}

ion-tab-button.tab-selected {
    font-weight: bold;
}

.tab-icon-outline {
    display: block;
}

.tab-icon-solid {
    display: none;
}

.tab-button-selected .tab-icon-outline {
    display: none;
}

.tab-button-selected .tab-icon-solid {
    display: block;
}