ion-content {
    --ion-background-color: var(--ion-color-background);


    .main-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        height: 100%;

        >* {
            margin: 1rem;
            background-color: var(--ion-color-tertiary-contrast);
        }

        .form-container,
        .finder,
        .table-container {
            border-radius: 0.5rem;
        }

        .finder {
            ion-searchbar {
                --background: var(--ion-color-tertiary-contrast);
                width: inherit;
            }
        }

        .buttons-div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 1rem;
            border-radius: 0.5rem;
        }

        .table-container {
            padding: 0.2rem;

            .table {
                width: 100%;
                text-align: center;
            }
        }
    }
}