<ion-content>
  <app-back-button></app-back-button>
  <div class="main-container">

    <div class="buttons-div">
      <ion-button (click)="toggleShowForm()" onkeypress="toggleShowForm()">Simple create</ion-button>
      <ion-button (click)="goToAdvancedForm()" onkeypress="goToAdvancedForm()">Advanced create</ion-button>
      <ion-button (click)="toggleShowSearchBar()" onkeypress="toggleShowSearchBar()">Find</ion-button>
    </div>

    <div class="form-container" *ngIf="showForm">
      <app-words-references-form></app-words-references-form>
    </div>

    <div class="finder" *ngIf="showSearchBar">
      <ion-searchbar (ionChange)="onSearch($event)"></ion-searchbar>
    </div>

    <div class="table-container">

      <table class="table">
        <thead>
          <th *ngFor="let headerColumn of displayedColumns">
            {{headerColumn}}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let wordReference of displayList">
            <td>{{wordReference.idWordRef}}</td>
            <td>{{wordReference.englishWord}}</td>
            <td>{{wordReference.englishDefinition}}</td>
            <td>{{wordReference.languageLevel.levelName}}</td>
            <td>{{wordReference.category}}</td>
            <td>
              <ion-button (click)="action()" onkeypress="" class="action-button">Edit</ion-button>
              <ion-button (click)="action()" onkeypress="" class="action-button">Delete</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ion-content>