<ion-content>
  <app-back-button></app-back-button>
  <div class="main-container">

    <app-admin-panel-components-header [hasAdvancedSearch]=true (toggleShowForm)="toggleShowForm()"
      (toggleShowSearchBar)="toggleShowSearchBar()"
      (advancedForm)="goToAdvancedForm()"></app-admin-panel-components-header>

    <div class="form-container" *ngIf="showForm">
      <app-words-references-form></app-words-references-form>
    </div>

    <div class="finder" *ngIf="showSearchBar">
      <ion-searchbar (ionChange)="onSearch($event)"></ion-searchbar>
    </div>

    <div class="table-container">

      <table class="table">
        <thead>
          <th *ngFor="let headerColumn of displayedColumns">
            {{headerColumn}}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let wordReference of displayList">
            <td>{{wordReference.idWordRef}}</td>
            <td>{{wordReference.englishWord}}</td>
            <td>{{wordReference.englishDefinition}}</td>
            <td>{{wordReference.grammaticalCategory.name}}</td>
            <td>{{wordReference.languageLevel.levelName}}</td>
            <td>{{wordReference.semanticCategory}}</td>
            <td>
              <ion-button (click)="action()" onkeypress="" class="action-button"><ion-icon
                  name="trash-outline"></ion-icon></ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ion-content>