ion-content {
    --ion-background-color: var(--ion-color-sky-blue);

    .main-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }

}