.header {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .chip {
        background-color: var(--ion-color-primary-contrast);
    }

    .chip * {
        font-size: 2rem;
        color: var(--ion-color-primary);
        font-weight: bold;
    }

    app-language-selector {
        background-color: var(--ion-color-secondary);
    }
}

.group {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    ion-card-title {
        font-weight: bold;
    }

    .item {
        background-color: var(--ion-color-background-shade);
        border-radius: 1rem;
        color: var(--ion-color-secondary-contrast);
        font-size: 1.2rem;
        padding: 1rem;
        margin: 1rem;
        display: flex;
        align-items: center;

        * {
            padding: 0.2rem;
        }

        ion-icon {
            font-weight: bold;
        }
    }
}