ion-content {
    --ion-background-color: var(--ion-color-background);

    * {
        background-color: white;
        color: var(--ion-color-primary-contrast);
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        .chip * {
            font-size: 2rem;
        }
    }

    .group {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        ion-button {
            font-size: 1.2rem;
        }
    }
}