<ion-content [fullscreen]="true">

  <ion-card class="header">
    <ion-chip class="chip">
      <ion-avatar>
        <img id="userProfileImage" alt="User profile" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{userInfo?.username}}</ion-label>
    </ion-chip>
  </ion-card>

  <ion-card class="group">

    <ion-button>
      {{ 'settings.changeUsername' | translate}}
    </ion-button>
    <ion-button>
      {{ 'settings.changePassword' | translate}}
    </ion-button>
    <ion-button id="open-single-language-selector" expand="block">
      {{ 'settings.changePrefLang' | translate}}
    </ion-button>

    <ion-button (click)="logout()" onkeypress="logout()">{{ 'settings.logout' | translate}}</ion-button>

  </ion-card>

  <ion-card class="group">
    <ion-title>{{ 'settings.theme' | translate}}</ion-title>
    <ion-segment value="default">
      <ion-segment-button value="default">
        <ion-label>{{ 'settings.lightTheme' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>{{ 'settings.darkTheme' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>

  <ion-card class="group">
    <ion-button>
      {{ 'settings.getSupport' | translate}}
    </ion-button>
    <ion-button>
      {{ 'settings.about' | translate}}
    </ion-button>
    <ion-button>
      {{ 'settings.credits' | translate}}
    </ion-button>
  </ion-card>
</ion-content>