/* login.page.scss */

* {
  border-radius: 1rem;
}

ion-content {
  background-color: aqua;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 2rem;
}

.form-container {
  align-items: center;
  background-color: var(--ion-color-background, 0);
  border: 0.1rem solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

ion-item {
  margin-bottom: 20px;
}

ion-button {
  width: 100%;
  font-weight: bold;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}