<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-container">

    <div class="form-container">

      <!-- Formulario de inicio de sesión -->
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <ion-item>
          <ion-input label="Username" name="username" type="text" [(ngModel)]="formData.username"
            labelPlacement="floating" placeholder="Enter your username" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" name="password" type="password" [(ngModel)]="formData.password"
            labelPlacement="floating" placeholder="Enter your password" required></ion-input>
        </ion-item>
        <div
          *ngIf="loginForm.submitted && (loginForm.controls['username'].invalid || loginForm.controls['password'].invalid)"
          class="error-message">
          <p style="color: red;">Please enter valid username and password.</p>
        </div>
        <ion-button type="submit" [disabled]="loginForm.invalid">Login</ion-button>
      </form>
    </div>

    <!-- Enlace para recuperar contraseña -->
    <a (click)="goToForgotPassword()">Forgot password?</a>

    <!-- Enlace para registrarse -->
    <ion-button (click)="goToSignUp()">Go to -> <span style="color: purple;">Sign up</span></ion-button>
  </div>
</ion-content>