<app-home-header></app-home-header>
<ion-content>
  <div class="main-container">

    <div class="profile-div">
      <ion-card class="profile">
        <ion-card-content>
          <img alt="User profile"
            src="https://image.winudf.com/v2/image1/Y29tLm1pbmlhcmthbm8uY2F0cHJvZmlsZXBpY3R1cmVfc2NyZWVuXzBfMTY4OTc5NjQ1NF8wMTA/screen-0.jpg?fakeurl=1&type=.jpg"
            style="max-height: 18rem;" />
          <div>
            <h1 style="font-weight: bold; font-size: 2rem;">
              {{userInfo?.username}}
            </h1>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="buttons-div">
      <div class="item-div">
        <ion-card class="item">
          <ion-card-title class="card-title">
            {{ 'home.shop' | translate}}
          </ion-card-title>
          <ion-card-content>

            <ion-button (click)="goToShop()" expand="block" onKeyPress="goToShop()">{{ 'home.enterShop' |
              translate}}</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="item-div">
        <ion-card class="item">
          <ion-card-title class="card-title">{{ 'home.progress' |
            translate}}</ion-card-title>
          <ion-card-content>
            <ion-button id="open-progress-modal" expand="block">{{ 'home.showProgress' |
              translate}}</ion-button>

            <app-progress-modal [userInfo]="userInfo" [userProgress]="userProgress"></app-progress-modal>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </div>
</ion-content>