.debug-button {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    * {
        margin: 0 0.2rem;
    }
}

.main-container {
    display: flex;
    background-color: var(--ion-color-background);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;

    app-quiz-header {
        width: 100%;
    }

    .card {
        border: 0.1rem solid lightgrey;
        border-radius: 1.5rem;

    }

    // ion-card {
    //     border: 0.1rem solid lightgrey;
    //     border-radius: 1.5rem;
    //     width: 80%;
    //     height: 80%;

    //     ion-card-title {
    //         padding: 1rem;

    //         span {
    //             font-weight: bold;
    //             font-size: 2rem;
    //         }
    //     }
    // }

    .options-div {

        ion-button {
            color: black;
            border-radius: 2rem;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}