<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lessons" href="/lessons">
      <ion-icon aria-hidden="true" name="pencil-outline"></ion-icon>
      <ion-label>Lessons</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dictionary" href="/dictionary">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Dictionary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>