ion-card-title {
    padding: 0.5rem;
}

ion-card-content {
    max-height: 200px;
    overflow-y: auto;
}

ion-progress-bar {
    --background: var(--ion-color-secondary-shade);
    --progress-background: var(--ion-color-secondary-tint);
    border-radius: 1rem;
    width: 100%;
    height: 1rem;
}

.item {
    font-size: 1rem;
    font-weight: bold;
}

.correct {
    color: var(--ion-color-success);
}

.incorrect {
    color: var(--ion-color-danger)
}