<ion-content>
  <app-back-button></app-back-button>
  <div class="main-container">

    <div class="masters">
      <ion-text *ngFor="let master of masters" color="tertiary" (click)="changeMaster(master)"
        onkeypress="changeMaster(master)" [ngClass]="{'selected': master === currentMaster}">
        {{master}}
      </ion-text>
    </div>

    <div class="buttons-div">
      <ion-button (click)="toggleShowForm()" onkeypress="toggleShowForm()">Simple create</ion-button>
      <ion-button (click)="toggleShowSearchBar()" onkeypress="toggleShowSearchBar()">Find</ion-button>
    </div>

    <div class="form-container" *ngIf="showForm">
      <!-- <app-words-references-form></app-words-references-form> -->
    </div>

    <div class="finder" *ngIf="showSearchBar">
      <ion-searchbar (ionChange)="onSearch($event)"></ion-searchbar>
      <ion-select [(ngModel)]="selectedProperty" (ionChange)="onSelectChange($event)">
        <ion-select-option *ngFor="let column of displayColumns" [value]="column">{{column}}</ion-select-option>
      </ion-select>
    </div>

    <div class="table-container">
      <app-dynamic-material-table [dataSource]="displayList"></app-dynamic-material-table>
    </div>

  </div>
</ion-content>