.dictionary-container {
    display: flex;

    div {
        .letter-sections {
            display: flex;
            flex-direction: column;
        }
    }

    .letters {
        width: 50px;
        /* Ancho fijo para la barra lateral */
        position: sticky;
        /* La barra lateral se mantendrá pegada mientras se desplaza el contenido */
        top: 0;
        /* Pegado a la parte superior */
        display: flex;
        flex-direction: column;

        ion-list {
            .active {
                background: rgba(255, 80, 56, 0.16);
                color: red;
                border-radius: 50px;
            }
        }
    }
}

.dictionary-container>div:first-child {
    flex-grow: 1;
    /* El primer div (que contiene la lista de palabras) ocupará todo el espacio restante */
}