<ion-header>
  <div class="header">
    <app-language-selector [preferredUserLanguages]="preferredUserLanguages"></app-language-selector>
    <div class="searcher">
      <ion-searchbar (ionChange)="onSearch($event)" placeholder="{{ 'dictionary.search' | translate}}"></ion-searchbar>
      <ion-button color="secondary">{{ 'dictionary.search' | translate}}</ion-button>
    </div>
  </div>
  <!-- <app-letters-scroll></app-letters-scroll> -->
</ion-header>

<ion-content class="main-container">
  @if (preferredUserLanguages) {

  <div class="dictionary-container">
    <div class="word-list-container">
      <!-- * Words list divided by letters * -->
      @for (letter of alphabet; track $index) {
      @if (sortedWords && sortedWords[letter] && sortedWords[letter][0]) {
      <ion-list class="letter-sections">
        <div class="words-by-letter" id="{{letter}}">
          <ion-item-divider sticky>
            <div>{{letter}}</div>
          </ion-item-divider>
          <ion-text *ngFor="let word of sortedWords[letter]" (click)="goToDetail(word)" onKeyPress="goToDetail(word)">
            <ion-label>{{word.wordString}}</ion-label>
          </ion-text>
        </div>
      </ion-list>
      }
      }
    </div>
  </div>
  } @else {
  <div style="display:flex; justify-content: center; height: 100%; margin-top: 1rem;">
    <ion-text>
      {{'common.noUserLanguagesText' |
      translate}}
    </ion-text>
  </div>
  }
</ion-content>