.language-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-medium);
    border-radius: 1rem;
    width: fit-content;
    padding: 0.5rem;
}

.flag {
    width: 30px;
    /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin: 0 10px;
    /* Espacio entre las banderas */
}

.arrow {
    font-size: 1.5rem;
    color: black;
}